<h1>Settings</h1>
<p></p>

<h1>About</h1>
<p>Version: {{VERSION}}</p>
<p>This webapplication uses <a href="http://getbootstrap.com">Bootstrap</a> and Icons from <a href="http://icons8.com/">Icons8</a>.</p>